<section class="content-5">
    <h1>Descubra a casa que faz sentido para você</h1>
    <div class="search-to-hire-buy">
        <p>Imóveis mais recentes em</p>

        <select id="select-states-content-5" (change)="changeListOfResidences()"> 
            <option selected disabled hidden>alooo</option>
            <option *ngFor="let state of allStates" value="{{state}}">{{state}}</option>
        </select>

        <div class="alternate-to-hire-buy">
            <button (click)="btnToHire()">Alugar</button>
            <button (click)="btnToBuy()">Comprar</button>
        </div>
    </div>
    <div class="carrousel-content-5">
        <div class="slides-content-5" id="slides-content-5">
            <div class="slide-content-5" *ngFor="let residence of listOfResidence">
                <img src="../../../assets/Home/casa800x498.jpg" alt="" />
                <label>{{residence.name}}<br></label>
                <label>{{residence.type}}<br></label>
                <label>{{residence.price}}<br></label>
                <label>{{residence.address.state}}<br></label>
                <label>{{residence.squareMeters}}<br></label>
                <label>{{residence.rooms}}<br></label>
            </div>
        </div>
    </div>
    <div class="nav-carrousel-content-5">
        <button class="nav-left" (click)="goNavLeft()"> < </button>
        <button class="nav-right" (click)="goNavRight()"> > </button>
    </div>
</section>