@use '../../../sass/_variables'
@use '../../../sass/_mixins'

*
    padding: 0px
    margin: 0px
    box-sizing: border-box

.content-5
    padding: 85px
    position: relative

    h1
        padding: 50px
        padding-left: 0px
        font-size: 2.5em

    .search-to-hire-buy
        display: flex

        select
            margin-left: 10px

        .alternate-to-hire-buy
            position: absolute
            display: flex
            right: 90px

            .btn-alternate
                margin-left: 10px
                width: 80px
                height: 30px
                border: 1px solid black
                border-bottom-left-radius: 35%
                border-top-left-radius: 35%
                border-top-right-radius: 35%
                border-bottom-right-radius: 35%

                .label-to-hire
                    position: absolute
                    padding-top: 3px
                    padding-left: 15px

                .label-to-buy
                    position: absolute
                    padding-top: 3px
                    padding-left: 10px

            .selected
                background-color: #ebebeb

    .carrousel-content-5
        // background-color: red
        overflow: hidden

        .slides-content-5
            // background-color: orange
            display: flex
            max-width: 1345px
            transition: transform 1s
            transform: translateX(0)

    .nav-carrousel-content-5
        position: relative

        .nav-left
            position: absolute
            right: 60px

            padding-top: 2px
            border-radius: 50%
            border: none
            cursor: pointer
            width: 43px
            height: 43px
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)

        .nav-right
            position: absolute
            right: 0px

            padding-top: 2px
            border-radius: 50%
            border: none
            cursor: pointer
            width: 43px
            height: 43px
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
