<section class="content-5">
    <h1>Descubra a casa que faz sentido para você</h1>
    <div class="search-to-hire-buy">
        <p>Imóveis mais recentes em</p>

        <select id="select-states-content-5" (change)="choiceState()">
            <option selected disabled hidden>todos</option>
            <option *ngFor="let state of allStates" value="{{state}}">{{state}}</option>
        </select>

        <div class="alternate-to-hire-buy">
            <div class="btn-alternate selected" (click)="btnToHire()" id="btn-to-hire-content5">Alugar</div>
            <div class="btn-alternate" (click)="btnToBuy()" id="btn-to-buy-content5">Comprar</div>
        </div>
    </div>
    <div class="carrousel-content-5">
        <div class="slides-content-5" id="slides-content-5">
            
            <app-card-residence *ngFor="let residence of listOfResidence" 
            [residence]="residence"></app-card-residence>
            
        </div>
    </div>
    <div class="nav-carrousel-content-5">
        <button class="nav-left" (click)="goNavLeft()">
            < </button>
                <button class="nav-right" (click)="goNavRight()"> > </button>
    </div>
</section>