<div class="card-residence">
    <div class="card-residence-carrousel">

        <div class="tag-residence"><label>Exclusivo</label></div>

        <div class="slide-imgs-residence" id="slide-imgs-residence">
            <img src="../../../assets/Home/casa800x498.jpg" alt="" />
            <img src="../../../assets/Home/casa800x498.jpg" alt="" />
            <img src="../../../assets/Home/casa800x498.jpg" alt="" />
            <img src="../../../assets/Home/casa800x498.jpg" alt="" />
            <img src="../../../assets/Home/casa800x498.jpg" alt="" />
            <img src="../../../assets/Home/casa800x498.jpg" alt="" />
        </div>

        <div class="nav-carrousel">
            <button class="nav-left" (click)="goNavLeft()"> < </button>
            <button class="nav-right" (click)="goNavRight()"> > </button>
        </div>
    </div>

    <div class="residence-infos">

        <div class="residence-type">
            <label>{{residence.type}}</label>
        </div>
        <div class="residence-price">
            <label>{{residence.price}}</label>
        </div>
        <div class="residence-name">
            <label>{{residence.name}}</label>
        </div>
        <div class="residence-address">
            <label>{{residence.address.state}}</label>
        </div>
        <div class="residence-squareMeters">
            <label>{{residence.squareMeters}}</label>
        </div>
        <div class="residence-rooms">
            <label>{{residence.rooms}}</label>
        </div>

    </div>
</div>