@use '../../../sass/_variables'
@use '../../../sass/_mixins'

*
    padding: 0px
    margin: 0px
    box-sizing: border-box

.slide-content-5
    position: relative
    width: 300px
    height: 330px
    background-color: variables.$secondary-color
    margin: 30px
    margin-left: 0px
    border: 1px solid gray

    img
        max-width: 298px
        max-height: 299px
