<footer>
    <div class="part-one">
        <div class="about-us">
            <ul>
                <li><b>Sobre nós</b></li>
                <li>Conheça o QuintoAndar</li>
                <li>Regiões atendidas</li>
                <li>Conheça a garantia QuintoAndar</li>
                <li>Central de Ajuda</li>
            </ul>
        </div>
        <div class="products">
            <ul>
                <li><b>Produtos</b></li>
                <li>Simular financiamento imobiliário</li>
                <li>Indique um imóvel</li>
                <li>Valor de aluguel por bairro</li>
                <li>Meu Lugar</li>
            </ul>
        </div>
        <div class="work-with-us">
            <ul>
                <li><b>Trabalhe com a gente</b></li>
                <li>Carreiras</li>
                <li>Corretagem</li>
                <li>Fotografia</li>
                <li>Vistorias</li>
                <li>Parceria de Reparos</li>
                <li>Parceria com Portarias</li>
            </ul>
        </div>
        <div class="quinto-andar-blue">
            <img src="../../assets/FooterDefault/LogoWhite.svg">
            <p>Para proporcionar uma experiência inesquecível para quem precisa de um lar ou anuncia com a gente,
                o QuintoAndar aposta em design, segurança e tecnologia de ponta.</p>
            <button>Mais informações ></button>
        </div>
    </div>
    <div class="part-two">
        <ul class="buttons-politics">
            <li>Política de privacidade ></li>
            <li>Termos e condições de uso ></li>
            <li>Política de Cookies ></li>
            <li>Manual do usuário ></li>
        </ul>
        <ul class="contact-apps">
            <li>face</li>
            <li>insta</li>
            <li>twitter</li>
            <li>linkdin</li>
            <li>meu lugar</li>
        </ul>
    </div>
    <div class="part-three">
        <div class="address-verion">
            <div class="address">
                <p>QuintoAndar Serviços Imobiliários Ltda. - CRECI-SP J24.344</p>
                <button>
                    Ver outros >
                </button>
            </div>
            <p class="version">Versão: 08/07/2022 14:13</p>
        </div>
        <div class="downloads">
            <img src="../../assets/FooterDefault/badge-google-play-1x.jpeg" class="google-play">
            <img src="../../assets/FooterDefault/badge-app-store-1x.jpeg" class="app-store">
        </div>
    </div>
</footer>