<nav>
    <ul>
        <li class="logo-mav-bar"><img src="../../assets/Home/logo.svg" alt="Home" routerLink="/"/></li>
        <li class="dropdown-item-list">Buscar Imóveis >
            <ul class="dropdown-content">
                <li class="item-list">Imóveis para alugar</li>
                <li class="item-list">Imóveis para comprar</li>
                <li class="item-list">Selecionados para alugar</li>
                <li class="item-list">Selecionados para comprar</li>
                <li class="item-list">Como comprar</li>
            </ul>
        </li>
        <li class="dropdown-item-list">Para proprietários >
            <ul class="dropdown-content">
                <li class="item-list">Anunciar imóvel para alugar</li>
                <li class="item-list">Anunciar imóvel para vender</li>
                <li class="item-list">Área do proprietário</li>
                <li class="item-list">Repasses</li>
            </ul>
        </li>
        <li class="item-nav-bar">Para imobiliárias</li>
        <li class="item-nav-bar">Indicar imóveis</li>
        <li class="dropdown-item-list">Sobre >
            <ul class="dropdown-content">
                <li class="item-list">Sobre o quinto andar</li>
                <li class="item-list">Conteúdos</li>
                <li class="item-list">Ferramentas</li>
                <li class="item-list">Dados e Índices</li>
                <li class="item-list">Guias</li>
            </ul>
        </li>
        <li class="item-nav-bar">Ajuda</li>
        <li class="dropdown-account">Perfil
            <ul class="dropdown-content">
                <li class="item-list-account">Favoritos e listas</li>
                <li class="item-list-account">Visitas agendadas</li>
                <li class="item-list-account">Propostas enviadas</li>
                <li class="item-list-account">Contratos e boletos</li>
                <li class="divisor-list-account"><div></div></li>
                <li class="item-list-account" routerLink="/user-account">Minha conta</li>
                <li class="item-list-account">Sair da conta</li>
            </ul>
        </li>
    </ul>
</nav>
