<nav>
    <ul>
        <li class="logo-mav-bar"><img src="../../assets/Home/logo.svg" alt="Home" routerLink="/"/></li>
        <li class="item-nav-bar">Buscar Imóveis</li>
        <li class="item-nav-bar">Para proprietários</li>
        <li class="item-nav-bar">Para imobiliárias</li>
        <li class="item-nav-bar">Indicar imóveis</li>
        <li class="item-nav-bar">Sobre</li>
        <li class="item-nav-bar">Ajuda</li>
        <li class="dropdown">Perfil
            <ul class="dropdown-content">
                <li class="item-list-account">Favoritos e listas</li>
                <li class="item-list-account">Visitas agendadas</li>
                <li class="item-list-account">Propostas enviadas</li>
                <li class="item-list-account">Contratos e boletos</li>
                <li class="divisor-list-account"><div></div></li>
                <li class="item-list-account" routerLink="/user-account">Minha conta</li>
                <li class="item-list-account">Sair da conta</li>
            </ul>
        </li>
    </ul>
</nav>
