<section class="content-1">
    <div class="area-1">
        <div class="area-1-label-tittle">
            <label>Sem fiador? <br> Sem <br> problema</label>
        </div>
        <div class="area-1-label-text">
            <label>Eduardo e Bruna procuraram um apartamento, mas sem fiador a coisa ficou bem difícil. Veja como eles resolveram!</label>
        </div>
        <div class="area-1-image"> </div>
    </div>
    <div class="area-2">aloo </div>
    <div class="area-3">aloo </div>
</section>
