@use '../../../sass/_variables'
@use '../../../sass/_mixins'

*
    padding: 0px
    margin: 0px
    box-sizing: border-box

.content-1
    display: grid
    grid-template-areas: "area-1 area-1 area-1 area-1 area-1 area-2" "area-1 area-1 area-1 area-1 area-1 area-2"
    padding: 85px

    .area-1
        grid-area: area-1
        display: grid
        grid-template-areas: "area-1-label-tittle" "area-1-label-text" "area-1-button"
        position: relative
        height: 540px
        background-color: #3957BD

        .area-1-label-tittle
            grid-area: area-1-label-tittle
            margin: 35px
            margin-bottom: 0px
            width: 400px
            // word-break: normal

            label
                font-size: 4em
                color: variables.$secondary-color

        .area-1-label-text
            grid-area: area-1-label-text
            margin-left: 35px
            width: 400px
            bottom: 0px

            label
                font-size: 1em
                color: variables.$secondary-color

        .area-1-button
            grid-area: area-1-button
            margin: 35px

            button
                padding: 10px

        .area-1-image
            position: absolute
            background-image: url("../../../assets/Home/content1-area1.jpg")
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            height: 470px
            width: 280px
            margin: 35px
            right: 0px

    .area-2
        grid-area: area-2
        position: relative
        background-color: #FBF5E7
        width: 470px
        overflow: hidden

        .carrousel-slides
            // position: relative
            display: flex
            transition: transform 3s
            transform: translateX(0)
            height: 100%

            .area-2-1
                position: relative
                width: 470px
                object-fit: cover

                h2
                    margin: 20px
                    margin-bottom: 10px
                p
                    margin: 20px
                    margin-top: 0px

                button
                    margin: 20px
                    padding: 10px
                    bottom: 0px

                .area-2-1-image
                    background-image: url("../../../assets/Home/pessoa670x330.png")
                    background-repeat: no-repeat
                    background-size: cover
                    background-position: center
                    height: 250px
                    width: 470px
                    bottom: 0px

            .area-2-2
                position: relative
                width: 470px
                object-fit: cover

                h2
                    margin: 20px
                    margin-bottom: 10px
                p
                    margin: 20px
                    margin-top: 0px

                button
                    margin: 20px
                    padding: 10px
                    bottom: 40px

                .area-2-2-image
                    background-image: url("../../../assets/Home/pessoa670x330.png")
                    background-repeat: no-repeat
                    background-size: cover
                    background-position: center
                    height: 250px
                    width: 470px
                    bottom: 0px

        .nav-carrousel
            position: absolute
            bottom: 0px
            width: 100%
            height: 100px
            z-index: 1
            // background-color: red

            .bar-nav
                position: absolute
                bottom: 0px
                margin: 10px
                margin-bottom: 18px
                width: 95.5%
                height: 5px
                background-color: black
                z-index: 1

                .icon-selected
                    position: absolute
                    width: 50%
                    height: 5px
                    // background-color: variables.$secondary-color
                    background-color: red
                    z-index: 2

            .nav-left
                position: absolute
                padding: 15px
                bottom: auto
                right: 70px
                margin: 10px

            .nav-right
                position: absolute
                padding: 15px
                bottom: auto
                right: 10px
                margin: 10px
