<section class="content-1">
    <div class="area-1">
        <div class="area-1-label-tittle">
            <label>Sem fiador? <br> Sem <br> problema</label>
        </div>
        <div class="area-1-label-text">
            <label>Eduardo e Bruna procuraram um apartamento, mas sem<br> fiador a coisa ficou bem difícil. Veja como eles<br> resolveram!</label>
        </div>
        <div class="area-1-button">
            <button>Ver Mais</button>
        </div>
        <div class="area-1-image"> </div>
    </div>
    <div class="area-2">
        <div class="area-2-1">
            <h2>Garantia que transforma</h2>
            <p>Veja como o aluguel garantido mudou a vida da proprietária Marlene.</p>
            <button>Ver mais</button>
        </div>

        <!-- <div class="area-2-2">

        </div> -->
    </div>
</section>
