<section class="user-account">

    <!-- <h1>WishList</h1>

    <div class="carrousel-user-account">
        <div class="slides-user-account" id="slides-user-account">

            <app-card-residence *ngFor="let residence of listOfResidence" [residence]="residence"></app-card-residence>

        </div>
    </div>
    <div class="nav-carrousel-user-account">
        <button class="nav-left" (click)="goNavLeft()">
            < </button>
                <button class="nav-right" (click)="goNavRight()"> > </button>
    </div> -->

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae fugit dolorum est natus, culpa et provident sed
        aut eum ab, neque illo iure? Quasi eveniet facere aliquid impedit nam expedita dignissimos voluptate ipsum culpa
        porro incidunt, veniam nostrum ipsa dolorum commodi quos debitis totam reiciendis, nesciunt mollitia tempora
        suscipit tenetur. Repudiandae, non sunt quis sequi, veritatis quasi doloribus tempore tenetur obcaecati
        reprehenderit nulla aspernatur temporibus minima nostrum placeat! Ipsam placeat amet ea, dolore blanditiis, sed
        doloribus molestias repudiandae porro commodi provident aspernatur facilis impedit voluptatibus ex? Aliquam,
        omnis? Quis ipsam rem sapiente quidem aut! Expedita, beatae. Incidunt doloribus, perferendis consequuntur
        corrupti perspiciatis rem eius quae! Eveniet nemo nesciunt officia doloribus earum numquam ea, autem nobis
        natus, beatae dolores a cumque nihil, aperiam suscipit laboriosam unde. Eaque porro quae tempora facere. Eum
        excepturi consequuntur iste voluptatibus facilis dolores, adipisci ad deleniti, mollitia commodi totam porro
        fugiat cupiditate distinctio, sequi incidunt inventore quae doloremque pariatur officia velit veritatis
        obcaecati sed. Nihil ut aperiam quos provident ab ipsa libero consectetur odit voluptatum fugiat, fuga, est
        quisquam molestiae saepe distinctio neque laboriosam adipisci praesentium, sapiente error. Harum voluptatum sit
        quasi est nihil delectus nisi commodi, earum tempore aut facilis eaque at fugiat officiis! Repudiandae et esse
        voluptatem sint dolor sequi, exercitationem iure distinctio aut? Blanditiis aut quasi nesciunt tenetur, natus
        iure iste nobis nihil eum voluptas adipisci obcaecati ipsum dolores error debitis facere praesentium,
        reprehenderit ipsa accusamus maxime odio illo eaque. Fugit eius est, aperiam, delectus voluptates, ad quisquam
        eum eos minus mollitia labore commodi necessitatibus voluptatem? Accusantium voluptatem et temporibus quo sequi,
        quod dignissimos itaque ipsa! Vel, ut deleniti dolor at reiciendis nulla hic consequuntur, delectus aliquam
        dolorum beatae aperiam aspernatur iste iusto atque mollitia vitae fuga recusandae sed quibusdam. Modi officiis
        quae, corporis quam harum et totam officia sed incidunt est quia, asperiores suscipit laboriosam inventore,
        omnis voluptate beatae ullam. Eveniet id fuga, saepe neque vel dignissimos molestiae, exercitationem aut quasi,
        voluptates iusto natus accusamus quas aperiam eaque dolorem! Modi perferendis sequi quis molestias maiores ipsum
        architecto rerum, perspiciatis nulla et quam! Placeat, tenetur voluptates consequuntur quam eaque sint doloribus
        sunt? Minus, exercitationem. Veniam odit corporis maxime quidem veritatis magni nobis, ad sint. Deleniti debitis
        omnis, sapiente laborum neque aperiam modi impedit corrupti repudiandae voluptatum, maiores quae rem hic unde,
        eaque ab consequuntur facere repellendus? Modi nulla nihil nemo animi sit fugiat natus amet, quasi a similique
        asperiores dignissimos tempore blanditiis quidem accusamus eveniet sunt, nisi quas temporibus cumque eaque quis
        recusandae! Quibusdam maxime deleniti ad quaerat dolore ratione odit, illum id ipsa repudiandae voluptates cum,
        perferendis corrupti atque explicabo. Ipsam aspernatur sed distinctio error, voluptates suscipit. Repellat
        necessitatibus temporibus cupiditate dolores tempora numquam, perspiciatis quasi eligendi delectus illo error.
        Magni tempore perferendis illo exercitationem animi accusantium pariatur debitis alias eveniet ducimus facere,
        recusandae dicta a laboriosam magnam! Voluptatum qui placeat incidunt nobis velit sit rerum consequatur,
        veritatis fuga facere quis quidem id laudantium architecto doloremque harum voluptas vitae perspiciatis commodi
        cupiditate corporis eveniet, soluta quod nihil? Temporibus totam facere sed amet eos eius tempore, beatae ad
        consequuntur ex distinctio laborum sit voluptatibus cum tempora delectus velit quia consectetur eligendi fugiat
        aut libero! Ea, assumenda. Consequatur debitis a itaque aliquid cumque architecto molestias eveniet, nulla,
        fugit neque vero reiciendis! Quaerat nesciunt aliquid id, voluptates deleniti in ea asperiores ipsum reiciendis
        aliquam quam ratione architecto voluptatibus at doloremque voluptatum dolorum laboriosam inventore. Quia fugiat
        doloribus quaerat magnam id quo maiores deserunt est rerum distinctio cum tempore quibusdam, eum aperiam nobis
        tenetur vel deleniti, dolor totam! Nesciunt voluptatum facilis, soluta quas ex hic culpa distinctio qui cum sit!
        Sint repellat saepe laboriosam praesentium consequatur, velit mollitia, maxime quidem doloremque consectetur,
        incidunt porro aliquam illum. Dolorem corporis placeat excepturi architecto vero distinctio itaque modi aut
        perferendis voluptatem. Dolore earum dolorum officia atque natus molestiae error repellat id illum dolorem! Id
        voluptate doloremque quam quis inventore, nisi culpa nesciunt velit impedit et, alias a placeat quo ipsam
        dignissimos quod deserunt est consequuntur? Molestiae natus illum, debitis, atque et minus ducimus optio
        incidunt, porro rerum iste id commodi eveniet officia quam magni libero temporibus quo quas? Assumenda ab
        similique, amet corrupti unde tempora veritatis cupiditate in voluptatibus dignissimos nostrum quis voluptate
        maiores provident, esse voluptas quam recusandae temporibus exercitationem? Ducimus cupiditate ipsa pariatur sed
        quo, quae soluta, laborum enim in blanditiis atque, amet tempora debitis assumenda aut unde ipsam cumque itaque
        eligendi minus accusantium? Beatae, voluptatibus rerum libero voluptates iure eligendi nobis sunt accusantium
        quasi fugiat laboriosam fuga, quos nulla eius ullam sint sed minus doloribus earum accusamus ipsam, provident ea
        esse odit? Et debitis vero rem officia, tempora ipsum architecto itaque quisquam tempore laboriosam minima
        sapiente, dolores nam sint, sit molestias enim hic! Explicabo voluptatum cum pariatur debitis non eveniet fuga
        asperiores facere quae aliquid, repudiandae soluta quos error modi corporis, inventore aspernatur voluptates
        eius? Nobis esse ex eaque cum fuga ad, perferendis ipsum ea tenetur facilis vero quam pariatur voluptatum
        debitis vitae? Accusantium amet nesciunt, ipsum, asperiores ratione exercitationem modi architecto reiciendis
        adipisci ex commodi omnis suscipit molestiae debitis! Voluptate repudiandae debitis ipsum corrupti maiores
        pariatur labore blanditiis. Odit sapiente a fugit neque ipsum? Nihil cum ducimus, officia, quidem consequatur
        veritatis blanditiis, quis nostrum fugiat assumenda rerum nam eaque velit pariatur facilis sint dolore! Ex quos
        odio quasi, nemo eaque officia ea autem similique fugit reprehenderit tempore numquam aliquam hic esse
        perferendis minus. Consectetur voluptas qui necessitatibus eius, voluptates ratione saepe repudiandae similique,
        expedita asperiores est harum omnis veritatis iste. Saepe distinctio veniam corrupti nihil consequuntur
        asperiores quisquam qui? Labore animi magni ipsum, fugit quibusdam doloribus nam quisquam expedita officiis vel
        nisi recusandae obcaecati cumque voluptates id dolorem fuga iure cupiditate ipsam. Asperiores laboriosam culpa
        saepe commodi sint aspernatur soluta. Quibusdam ex ipsam assumenda, incidunt qui corporis quia ducimus nihil,
        fuga, soluta velit et quod hic nisi ullam officiis? Eaque magni omnis minima molestiae, natus earum error quis,
        veritatis fuga, provident exercitationem voluptates qui praesentium ex obcaecati expedita? Delectus, culpa.
        Velit et officiis similique consectetur quia delectus corrupti laboriosam? Libero consectetur at sequi animi
        magni?</p>

    <app-bottom-sheet [bottomSheetType]="'Expand'" [options]="[{text: 'Compartilhar comprovante', iconImg: 'iconImg1', optionAction: 'optionAction1', secondText: 'secondText1'}, 
    {text: 'Ver comprovante', iconImg: 'iconImg2', optionAction: 'optionAction2', secondText: 'secondText2'}, 
    {text: 'text3', iconImg: 'iconImg3', optionAction: 'optionAction3', secondText: 'secondText3'}, 
    {text: 'text4', iconImg: 'iconImg4', optionAction: 'optionAction4', secondText: 'secondText4'}, 
    {text: 'text5', iconImg: 'iconImg5', optionAction: 'optionAction5', secondText: 'secondText5'},
    {text: 'text6', iconImg: 'iconImg6', optionAction: 'optionAction6', secondText: 'secondText6'} ]"
        [tittle]="'Selecione a categoria da transação'" [open]="true" (clickOption)="clickOnOptionBottomSheet($event)">
    </app-bottom-sheet>

</section>