@use '../../sass/_variables'
@use '../../sass/_mixins'

*
    padding: 0px
    margin: 0px
    box-sizing: border-box
    

// .user-account
//     padding: 85px
//     position: relative
//     margin-top: 80px

//     .carrousel-user-account
//         overflow: hidden

//         .slides-user-account
//             display: flex
//             max-width: 1345px
//             transition: transform 1s
//             transform: translateX(0)

//     .nav-carrousel-user-account
//         position: relative

//         .nav-left
//             position: absolute
//             right: 60px

//             padding-top: 2px
//             border-radius: 50%
//             border: none
//             cursor: pointer
//             width: 43px
//             height: 43px
//             box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)

//         .nav-right
//             position: absolute
//             right: 0px

//             padding-top: 2px
//             border-radius: 50%
//             border: none
//             cursor: pointer
//             width: 43px
//             height: 43px
//             box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)