@import '../../sass/variables'

nav
    background-color: white
    padding-top: 35px
    padding-bottom: 35px
    padding-left: 45px

    ul
        display: flex
        padding: 0px
        margin: 0px
    
    .item-nav-bar
        display: flex
        align-items: center
        padding-inline: 20px

    .account-icon
        display: flex
        align-items: center
        padding-inline: 20px
        margin-left: auto

header
    background-image: url("../../assets/Home/casa2560x1440.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    // background-attachment: fixed
    // max-width: 1600px
    max-height: 1440px
    width: auto
    height: 700px
    position: relative

    div
        margin-right: auto
        margin-left: 100px
        background-color: white
        width: 560px
        height: 570px
        position: absolute
        top: 50%
        transform: translate(0, -50%)
