@import '../../sass/variables'

nav
    background-color: white
    padding-top: 35px
    padding-bottom: 35px
    padding-left: 28px

    ul
        display: flex
        padding: 0px
        margin: 0px

    .item-nav-bar
        display: flex
        align-items: center
        padding-inline: 20px

    .account-icon
        display: flex
        align-items: center
        padding-inline: 20px
        margin-left: auto

header
    background-image: url("../../assets/Home/casa2560x1440.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    // max-width: 1600px
    max-height: 1440px
    width: auto
    height: 700px
    position: relative

    h1
        margin: 40px
        
    .btn-to-hire
        margin-left: 40px
    .btn-buy

    .line
        background-color: gray
        height: 1px
        width: 85%
        margin-left: 40px
        margin-right: 40px

    .search-block-header
        background-color: white
        width: 560px
        height: 570px
        position: absolute
        top: 70px
        left: 120px

        .price-rooms-fields
            display: flex

.field-search
    padding: 20px
    padding-left: 40px

.search-button
    width: 85%
    margin-left: 40px
    margin-right: 40px
    padding: 15px
