<nav>
    <ul>
        <li class="item-nav-bar"><img src="../../assets/Home/logo.svg" alt="Home" /></li>
        <li class="item-nav-bar">alooou1</li>
        <li class="item-nav-bar">alooou2</li>
        <li class="item-nav-bar">alooou3</li>
        <li class="item-nav-bar">alooou4</li>
        <li class="account-icon">alooou5</li>
    </ul>
</nav>

<header>
    <div class="search-block-header">
        <h1>Encontre um lar para chamar de seu</h1>
      
        <div>
            <button class="btn-to-hire" (click)="btnTohire()">
                Alugar
            </button>
            <button class="btn-to-buy" (click)="btnToBuy()">
                Comprar
            </button>
        </div> 
        
        <div class="line"></div>

        <div>
            <div class="field-search">
                <div>
                    <!-- <img src="../../assets/Home/pin-location.svg" alt="Local" /> -->
                    <label>Cidade</label>
                </div>
                <select>
                    <option value="" selected disabled hidden>Busque por cidade</option>
                    <option>aaaaa</option>
                    <option>bbbb</option>
                    <option>cccccc</option>
                </select>
            </div>
        </div>
        <div>
            <div class="field-search">
                <div>
                    <!-- <img src="../../assets/Home/pin-location.svg" alt="Local" /> -->
                    <label>Bairro</label>
                </div>
                <select>
                    <option value="" selected disabled hidden>Busque por bairro</option>
                    <option>aaaaa</option>
                    <option>bbbb</option>
                    <option>cccccc</option>
                </select>
            </div>
        </div>
        <div class="price-rooms-fields">
            <div class="field-search">
                <div>
                    <!-- <img src="../../assets/Home/pin-location.svg" alt="Local" /> -->
                    <label id="label-to-hire-or-buy">Aluguel até</label>
                </div>
                <select id="toHireOrBuyPrices">
                    <option value="" selected disabled hidden>Escolha o valor</option>
                    <option>R$1.000,00</option>
                    <option>R$2.000,00</option>
                    <option>R$3.000,00</option>
                    <option>R$4.000,00</option>
                    <option>R$5.000,00</option>
                    <option>R$6.000,00</option>
                    <option>R$10.000,00</option>
                    <option>R$15.000,00</option>
                </select>
            </div>
            <div class="field-search">
                <div>
                    <!-- <img src="../../assets/Home/pin-location.svg" alt="Local" /> -->
                    <label>Quartos</label>
                </div>
                <select>
                    <option value="" selected disabled hidden>Nº de quartos</option>
                    <option>1+</option>
                    <option>2+</option>
                    <option>3+</option>
                    <option>4+</option>
                </select>
            </div>
        </div>
        <div>
            <button class="search-button">Buscar Imóveis</button>
        </div>
    </div>
</header>