
<header>
    <div class="search-block-header">
        <h1>Encontre um lar para chamar de seu</h1>

        <div>
            <button class="btn-to-hire" (click)="btnToHire()">
                Alugar
                <div id="to-hire" class="selected-mode"></div>
            </button>

            <button class="btn-to-buy" (click)="btnToBuy()">
                Comprar
                <div id="to-buy"></div>
            </button>
        </div>

        <div class="line"></div>

        <div>
            <div class="field-search">
                <div>
                    <!-- <i class="fa-solid fa-location-dot"></i> -->
                    <label>Cidade</label>
                </div>
                <select>
                    <option value="" selected disabled hidden>Busque por cidade</option>
                    <option>São Paulo</option>
                    <option>Rio de Janeiro</option>
                    <option>Belo Horizonte</option>
                    <option>Porto Alegre</option>
                    <option>Campinas</option>
                    <option>Canoas</option>
                    <option>Guarulhos</option>
                    <option>Jundiaí</option>
                    <option>Nova Lima</option>
                    <option>Novo Hamburgo</option>
                    <option>Niterói</option>
                    <option>Osasco</option>
                    <option>Santo André</option>
                    <option>São Bernardo do Campo</option>
                    <option>São Caetano do Sul</option>
                    <option>Barueri</option>
                    <option>São Leopoldo</option>
                    <option>Contagem</option>
                    <option>Taboão da Serra</option>
                    <option>Diadema</option>
                    <option>Várzea Paulista</option>
                    <option>Santana de Parnaíba</option>
                </select>
            </div>
        </div>
        <div>
            <div class="field-search">
                <div>
                    <!-- <img src="../../assets/Home/pin-location.svg" alt="Local" /> -->
                    <label>Bairro</label>
                </div>
                <select>
                    <option value="" selected disabled hidden>Busque por bairro</option>
                    <option>aaaaa</option>
                    <option>bbbb</option>
                    <option>cccccc</option>
                </select>
            </div>
        </div>
        <div class="price-rooms-fields">
            <div class="field-search">
                <div>
                    <!-- <img src="../../assets/Home/pin-location.svg" alt="Local" /> -->
                    <label id="label-to-hire-or-buy">Aluguel até</label>
                </div>
                <select id="toHireOrBuyPrices">
                    <option value="" selected disabled hidden>Escolha o valor</option>
                    <option>R$1.000,00</option>
                    <option>R$2.000,00</option>
                    <option>R$3.000,00</option>
                    <option>R$4.000,00</option>
                    <option>R$5.000,00</option>
                    <option>R$6.000,00</option>
                    <option>R$10.000,00</option>
                    <option>R$15.000,00</option>
                </select>
            </div>
            <div class="field-search">
                <div>
                    <!-- <img src="../../assets/Home/pin-location.svg" alt="Local" /> -->
                    <label>Quartos</label>
                </div>
                <select>
                    <option value="" selected disabled hidden>Nº de quartos</option>
                    <option>1+</option>
                    <option>2+</option>
                    <option>3+</option>
                    <option>4+</option>
                </select>
            </div>
        </div>
        <div>
            <button class="search-button">Buscar Imóveis</button>
        </div>
    </div>
</header>

<main>
    <app-content1></app-content1>
</main>

<footer>

</footer>