@use '../../sass/_variables'
@use '../../sass/_mixins'

*
    padding: 0px
    margin: 0px
    box-sizing: border-box

.content-7
    padding: 85px
    padding-top: 60px

    .part-one-content-7
        display: flex
        width: 100%
        flex-direction: row
        align-items: center

        h1
            font-size: 2em

        button
            margin-left: auto